
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem}
  .dark {
    --background: 240 12% 8%;
    --foreground: 0 0% 98%;
    --card: 240 12% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 240 12% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 8% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 8% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 8% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 240 8% 15%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scroll */


}
::-webkit-scrollbar-track {
  background: #ccc5c5;
  border-radius: 10px; /* Rounded corners for the t

  rack */

}

::-webkit-scrollbar-thumb {
  background-color: #545252; /* Color of the scroll thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
  border: 1px solid transparent; /* Optional border */

}

::-webkit-scrollbar-thumb:hover {
  background-color: #949191; /* Color on hover */
}

.hide-scrollbar {
  scrollbar-width: none;
}

